@model UsuariosViewModel

@{
    ViewData["Title"] = "Detalhes";
}

<div class="card w-100">
    <form class="w-100 h-100" asp-action="Editar" asp-controller="Usuarios">
        <div class="card-body">
            <h4 class="card-title m-0 fw-bold">Detalhes do Dispositivo</h4>

            <hr class="my-2" />

            <input type="hidden" value="1" name="Id" />

            <div class="row">
                <div class="col">
                    <div class="mb-2">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome" placeholder="Digite seu Nome" value="@Model.Nome.Split(' ')[0]" name="Nome" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-2">
                        <label for="sobrenome" class="form-label">Sobrenome</label>
                        <input type="text" class="form-control" id="sobrenome" placeholder="Digite seu Sobrenome" value="@Model.Nome.Split(' ')[1]" name="Sobrenome" readonly />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="mb-2">
                        <label for="cpf" class="form-label">CPF</label>
                        <input type="text" class="form-control" id="cpf" placeholder="Digite seu CPF" value="@Model.Cpf" name="Cpf" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-2">
                        <label for="empresa" class="form-label">Empresa</label>
                        <select class="form-select" name="EmpresaId">
                            <option value="@Model.EmpresaId" selected>@Model.EmpresaId</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <div class="mb-2">
                        <label for="celular" class="form-label">Celular</label>
                        <input type="text" class="form-control" id="celular" value="@Model.Celular" placeholder="Digite seu Celular" name="Celular" />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-2">
                        <label for="uf" class="form-label">UF</label>
                        <select class="form-select" name="Uf">
                            <option value="@Model.Uf" selected>@Model.Uf</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="mb-2">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" value="@Model.Email" placeholder="Digite seu email" name="Email"/>
            </div>

            <div class="row">
                <div class="col">
                    <div class="mb-2">
                        <label for="password" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="senha" value="@Model.Senha" placeholder="Digite seu senha" name="Senha"/>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-2">
                        <label for="password" class="form-label">Confirmação</label>
                        <input type="password" class="form-control" id="senha" value="@Model.Senha" placeholder="Digite seu senha" name="Confirmacao"/>
                    </div>
                </div>
            </div>

            <input type="hidden" value="@Model.Id" name="Id"/>

            <input type="submit" class="btn btn-success w-100 mb-2" value="Cadastrar" />

        </div>
    </form>
</div>
